body {
	margin: 0em;
	font-family: sans-serif;
}

ul {
	margin: 0em;
	padding: 0em;
}

a {
	text-decoration-line: none;
	color: #D9CD2B;
	font-weight: bold;
}

a:hover {
	opacity: 0.4;
}

section {
	width: 40%;
	margin: auto;
}
