nav {
	padding: 1em;
	margin: 1em 0em 5em 0em;
}

nav > ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

nav > ul > li {
	padding: 0em 2em;
	list-style-type: none;
}

a:active {
	color: #D9CD2B;
}

