.project {
	width: 90%;
	margin: auto;
	background-color: #00000002;
	border-radius: 0.7em;
	box-shadow: 0em 0em 1em #00000018;
	margin-bottom: 2em;
	padding: 1.5em;
}

.project h3 {
	margin: 0em;
}

.language {
	margin-top: 0em;
	font-size: small;
	font-style: italic;
}

.description {
	margin-top: 0em;
	margin-bottom: 0.5em;
	font-size: smaller;
}

.project > div {
	 display: flex;
	 flex-direction: column;
	 font-size: smaller;
}
