body {
    font-family: 'Nunito', sans-serif;
    margin: 0em;
    background-color: #F5F5F5;
}

html {
    line-height: 1.15;
}

a {
    background-color:transparent;
    color:inherit;
    text-decoration:inherit;
}

h1 {
    margin: 1em 0em 0.5em 0em;
}

h2, h3, h4, h5, h6 {
    margin: 0em;
}

ul {
    padding: 0em;
    margin: 0em;
}

#content {
    display: flex;
    justify-content: center;
}

#content > div {
    width: 50%;
}

