article {
    border-radius: 0.35em;
    margin: 1em 0em;
    background-color: #FFFFFF;
    box-shadow: 0em 0em 0.25em #FFFFFF;
}

article > * {
    padding: 1em;
}

h1 {
    margin: 1em 0em 0.5em 0em;
}
